<div role="tabpanel" class="tab-pane active" id="geral">
    <div class="row">
        <div class="col-md-6">{{ form_row(form.title, {'attr': {'autofocus': true}}) }}</div>
        <div class="col-md-6">{{ form_row(form.toggleable.isEnabled) }}</div>
    </div>
</div>

<div role="tabpanel" class="tab-pane" id="site">
    <div class="row">
        <div class="col-md-6">{{ form_row(form.displayOrder) }}</div>
    </div>
</div>