<div class="dropdown {% if loop.last %}dropup{% endif %}" style="display: inline-block">
    <a href="#" class="btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill"
       data-toggle="dropdown" aria-expanded="false">
        <i class="la la-ellipsis-h"></i>
    </a>
    <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end">
        {% block li_actions %}{% endblock %}
    </div>
</div>
