<li class="m-portlet__nav-item">
    {{ form_widget(form.buttons.save_and_keep, {'attr' : {'class' : 'm-portlet__nav-link btn btn-success m-btn m-btn--air'}, 'icon' : '<i class="fa fa-check"></i>'}) }}
</li>
<li class="m-portlet__nav-item">
    {{ form_widget(form.buttons.save_and_new, {'attr' : {'class' : 'm-portlet__nav-link btn btn-success m-btn m-btn--air'}, 'icon' : '<i class="fa fa-external-link"></i>'}) }}
</li>
<li class="m-portlet__nav-item">
    {{ form_widget(form.buttons.save_and_close, {'attr' : {'class' : 'm-portlet__nav-link btn btn-success m-btn m-btn--air'}, 'icon' : '<i class="fa fa-check-square-o"></i>'}) }}
</li>