{% extends 'site/base.html.twig' %}

{% block title %}{{ 'errors.500.title'|trans }}{% endblock %}

{% block body %}
    <body class="m--skin- m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default">
    <!-- begin:: Page -->
    <div class="m-grid m-grid--hor m-grid--root m-page">
        <div class="m-grid__item m-grid__item--fluid m-grid  m-error-6"
             style="background-image: url({{ asset('assets/media/img/bg6.jpg') }});">
            <div class="m-error_container">
                <div class="m-error_subtitle m--font-light">
                    <h1>{{ 'errors.500.title'|trans }}</h1>
                </div>
                <p class="m-error_description m--font-light">
                    {{ 'errors.500.description'|trans|raw }}
                </p>
            </div>
        </div>
    </div>
    <!-- end:: Page -->
    </body>
{% endblock %}
