{% extends 'base_email.html.twig' %}

{% block preview %}New Appointment Received{% endblock %}
{% block email_main_content %}
    <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">Hi,</p>
    <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">New appointment has been created by {{ schedule.customer.fullName }}:</p>
    {% include 'site/schedule/_email_details.html.twig' with {'schedule': schedule} %}
{% endblock %}